@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-family: 'Times New Roman', Times, serif;
}



[data-theme='dark'] {
  --bg-color: #051830;
  --text-color: #ffffff;

}

[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #051830;
}


[data-theme='dark'] h1{
  color: #e2e2e3;
}

[data-theme='dark'] .hello{
  background-color: #223d5e;
}
[data-theme='dark'] .hello h2{
  color: #d6d8db;
}
[data-theme='dark'] .hello p{
  color: #d6d8db;
}
[data-theme='light'] .hello h2{
  color: #051830;
  
}
[data-theme='dark'] .search{
  background-color: #223d5e;
  color: #e2e2e3;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
